
@using LCPS.v2015.v001.NwUsers.HumanResources.Staff;
@using LCPS.v2015.v001.WebUI.Areas.HumanResources.Models;


@model IEnumerable<LCPS.v2015.v001.NwUsers.HumanResources.Staff.HRJobTitle>

@{
    ViewBag.Title = "Job Titles";
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}

<h2>Job Titles <span class="badge">@Model.Count().ToString()</span></h2>

<p>
    @Html.ActionLink("Create New", "Create") | <a href="@Url.Action("ImportJobTitles", "HRImport", new { area = "HumanResources" }, null)">Import (TSV)</a>  | <a href="@Url.Action("ExportJobTitles", "HRImport", new { area = "HumanResources" })">Export (XML)</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HREmployeeType.EmployeeTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HREmployeeType.EmployeeTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecordId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecordId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecordId })
        </td>
    </tr>
}

</table>
