@model LCPS.v2015.v001.NwUsers.HumanResources.DynamicGroups.DynamicStaffGroup

<div class="row">
    <div class="col-md-3">
        <strong>@Html.DisplayNameFor(model => model.GroupName)</strong>
    </div>
    <div class="col-md-9">
        <strong>@Html.DisplayNameFor(model => model.Description)</strong>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.DisplayFor(model => model.GroupName)
    </div>
    <div class="col-md-9">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
    
<div class="row container">
    <a href="@Url.Action("DeleteGroup", "DynamicStaffGroup", new { area = "HumanResource", @id = Model.DynamicGroupId })" onclick="return confirm('Are you sure you want to delete this group?');">Delete</a>
</div>
