@using LCPS.v2015.v001.NwUsers.Importing2;

@model IImportFile

<table class="table table-hover table-striped table-condensed">
    <tr>
        @foreach (string c in Model.Columns)
        {
            <th>@c</th>
        }
        <th>Crud</th>
        <th>Validation</th>
        <th>Import</th>
    </tr>
    @foreach (IImportFileRecord r in Model.Lines)
    {
        <tr>
            @foreach (string f in r.Fields)
            {
                <td style="white-space:nowrap;">@f</td>
            }
            <td style="white-space:nowrap;">
                @r.CrudStatus.ToString()
            </td>
            <td class="text-@r.ValidationStatus.ToString()">
                @Html.Raw(r.ValidationReport.Replace("\n", "<br>"))
            </td>
            <td class="text-@r.ImportStatus.ToString()">
                @if (r.ImportReport == null)
                {
                    @Html.Raw("&nbsp;")
                }
                else
                {
                    @Html.Raw(r.ImportReport.Replace("\n", "<br>"))
                }

            </td>
        </tr>
    }
</table>
