@using LCPS.v2015.v001.NwUsers.Importing;
@using LCPS.v2015.v001.WebUI.Infrastructure;

@model ImportSession


@using (Html.BeginForm("Import", @Model.Controller, new { area = Model.Area }, FormMethod.Post))
{
    @Html.HiddenFor(model => model.SessionId)
    @Html.HiddenFor(model => model.SessionDate)
    @Html.HiddenFor(model => model.Author)
    @Html.HiddenFor(model => model.FullAssemblyTypeName)
    @Html.HiddenFor(model => model.ViewTitle)
    @Html.HiddenFor(model => model.Area)
    @Html.HiddenFor(model => model.Controller)
    @Html.HiddenFor(model => model.Action)
    @Html.HiddenFor(model => model.ViewLayoutPath)
    @Html.HiddenFor(model => model.Delimiter)
    @Html.HiddenFor(model => model.AddIfNotExist)
    @Html.HiddenFor(model => model.UpdateIfExists)
    

    <div class="row">
        <div class="col-xs-2">
            <strong>@Html.DisplayNameFor(model => model.SessionDate)</strong>
        </div>
        <div class="col-xs-1">
            <strong>@Html.DisplayNameFor(model => model.Author)</strong>
        </div>
        <div class="col-xs-1">
            <strong>Total</strong>
        </div>
        <div class="col-xs-4">
            <strong>@Html.DisplayNameFor(model => model.SessionId)</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            @Html.DisplayFor(model => model.SessionDate)
        </div>
        <div class="col-xs-1">
            @Html.DisplayFor(model => model.Author)
        </div>
        <div class="col-xs-1">
            <span>@((new LcpsDbContext()).ImportItems.Where(x => x.SessionId.Equals(Model.SessionId)).Count().ToString())</span>
        </div>
        <div class="col-xs-4">
            @Html.DisplayFor(model => model.SessionId)
        </div>
        <div class="col-xs-2">
            <input type="submit" value="Import" class="btn btn-xs btn-success" />
        </div>
    </div>
}
