@using LCPS.v2015.v001.NwUsers.LcpsLdap.LdapObjects;

@model IEnumerable<LcpsAdsTreeNode>


@foreach (LcpsAdsTreeNode c in Model)
{
    if (c.Children.Count() == 0)
    {
        <li id="@c.ObjectGuid.ToString()" class="@c.CssClass">
            <a href="@Url.Action("OuSelect", "LdapObjects", new { area = "LcpsLdap", ouId = c.ObjectGuid })">
                <i class="fa fa-folder-open"></i>&nbsp;
                @c.Name
            </a>
        </li>
    }
    else
    {
        <li id="@c.ObjectGuid.ToString()" class="@c.CssClass owner">
            <a href="@Url.Action("OuSelect", "LdapObjects", new { area = "LcpsLdap", ouId = c.ObjectGuid })" class="parenta">
                <i class="fa fa-folder-open"></i>&nbsp;
                @c.Name
            </a>
            <ul class="group">@Html.Partial("~/Areas/LcpsLdap/Views/LdapObjects/_OUTreeChildren.cshtml", c.Children)</ul>
        </li>
    }
}