@using LCPS.v2015.v001.NwUsers.HumanResources.Staff;

@model IEnumerable<HRStaffViewBase>


<div class="col-xs-1">
    @Html.DisplayNameFor(model => model.Building)
</div>
<div class="col-xs-1">
    @Html.DisplayNameFor(model => model.EmployeeType)
</div>
<div class="col-xs-1">
    @Html.DisplayNameFor(model => model.JobTitle)
</div>

@foreach(HRStaffPosition p in Model)
{
<div class="col-xs-1">
    @Html.DisplayFor(model => model.Building)
</div>
<div class="col-xs-1">
    @Html.DisplayFor(model => model.EmployeeType)
</div>
<div class="col-xs-1">
    @Html.DisplayFor(model => model.JobTitle)
</div>
    
}

