@using LCPS.v2015.v001.WebUI.Areas.HumanResources.Models;
@using PagedList;
@using LCPS.v2015.v001.NwUsers.HumanResources.Staff;
@using PagedList.Mvc;

@model  PagedList<HRStaffRecord>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}

<h2>Staff Members <span class="badge">@Model.Count()</span></h2>




<div class="navbar">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Index", "HRStaff", new { area = "HumanResources" } )"> <i class="fa fa-refresh"></i> Refresh</a>
            </li>
            <li>
                <a href="@Url.Action("Import", "HRStaffImport", new { area = "HumanResources" } )"><i class="fa fa-upload"></i>  Import</a>
            </li>
        </ul>
    </div>
</div>

@Html.Partial("_staffFilterClause", Session["StaffFilterClauseModel"])

<p>Total: @ViewBag.Total</p>

@Html.Partial("_staffList", Model)