@using LCPS.v2015.v001.NwUsers.HumanResources.Staff;
@model IEnumerable<HRStaff>

@{
    ViewBag.Title = "Staff";
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}

<h2>Staff <span class="badge">@Model.Count().ToString()</span></h2>

<p>
    @Html.ActionLink("Create New", "Create") | <a href="@Url.Action("ImportStaff", "HRImport", new { area = "HumanResources" }, null)">Import (TSV)</a> | <a href="@Url.Action("ImportStaffEmail", "SecurityImports", new { area = "Security" }, null)">Import Email(TSV)</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StaffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Positions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @foreach (HRStaffPosition p in item.Positions)
                {
                    @p.BuildingName <i class="fa fa-angle-right"></i> @p.EmployeeTypeName <i class="fa fa-angle-right"></i> @p.JobTitleName <i class="fa fa-angle-right"></i> @p.Status
                       }</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StaffLinkId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StaffLinkId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StaffLinkId })
            </td>
        </tr>
    }

</table>
