@model LCPS.v2015.v001.NwUsers.Students.InstructionalLevel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Students/Views/Shared/_StudentLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InstructionalLevel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstructionalLevelId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructionalLevelId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructionalLevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructionalLevelName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstructionalLevelKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
