@using LCPS.v2015.v001.NwUsers.Importing;
@using System.Web;
@using System.Web.Mvc;


@model ImportSession

@using (Html.BeginForm(Model.Action, Model.Controller, new { @area = Model.Area }, FormMethod.Post))
{

    @Html.HiddenFor(model => model.SessionId)


    <div class="well">
        <fieldset>
            <legend>Import File Contents</legend>
        </fieldset>
        <div class="row">
            <div class="col-xs-3">
                <strong>@Html.LabelFor(model => model.Author)</strong>
            </div>
            <div class="col-xs-3">
                <strong>@Html.LabelFor(model => model.SessionDate)</strong>
            </div>
            <div class="col-xs-3">
                <strong><strong>@Html.LabelFor(model => model.TypeName)</strong></strong>
            </div>
            <div class="col-xs-3">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                @Model.Author
            </div>
            <div class="col-xs-3">
                @Model.SessionDate
            </div>
            <div class="col-xs-3">
                @Model.TypeName
            </div>
            @if (Model.DetailMode == ImportFile.ListQualifier.Read)
            {
                <div class="col-xs-3">
                    <input type="submit" value="Import" class="btn btn-xs btn-success" />
                </div>
            }
        </div>
    </div>
}

