@using LCPS.v2015.v001.NwUsers.Importing;

@model IEnumerable<ImportItem>


    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ReadStatus)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Comment)</th>
        </tr>
        @foreach (ImportItem item in Model)
        {
            <tr class="@item.ReadStatus">
                <td>
                    @switch (item.ReadStatus)
                    {
                        case LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.danger:
                            <i class="fa fa-remove"></i>
                            break;
                        case LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.@default:
                        <i class="fa fa-check"></i>
                            break;
                    }
                </td>
                <td>
                    <span class="text-@item.ImportStatus">
                        @item.Description
                    </span>
                </td>
                <td>
                    <span class="text-@item.ImportStatus">
                        @item.Comment
                    </span>
                </td>
            </tr>
        }
    </table>

