@using LCPS.v2015.v001.WebUI.Areas.Import.Models;

@model ImportFileModel

@{
    ViewBag.Title = "Results";
    Layout = @Model.Session.ViewLayoutPath;
}


<h2>Import</h2>

@Html.Partial("_ImportSessionPartial", Model.Session)

@if (Model.ListFor == LCPS.v2015.v001.NwUsers.Importing.ImportFile.ListQualifier.Read)
{
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#success" data-toggle="tab"><span class="badge">@Model.Items.Where(x => x.ReadStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.@default).Count().ToString()</span> &nbsp; Succeess</a></li>
        <li><a href="#info" data-toggle="tab"><span class="badge text-warning">@Model.Items.Where(x => x.ImportStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.info).Count().ToString()</span> &nbsp; Info</a></li>
        <li><a href="#warnings" data-toggle="tab"><span class="badge text-warning">@Model.Items.Where(x => x.ReadStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.warning).Count().ToString()</span> &nbsp; Warnings</a></li>
        <li><a href="#danger" data-toggle="tab"><span class="badge text-danger">@Model.Items.Where(x => x.ReadStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.danger).Count().ToString()</span> &nbsp; Errors</a></li>
    </ul>
}
else
{
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#success" data-toggle="tab"><span class="badge text-success">@Model.Items.Where(x => x.ImportStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.@default).Count().ToString()</span> &nbsp; Succeess</a></li>
        <li><a href="#info" data-toggle="tab"><span class="badge text-warning">@Model.Items.Where(x => x.ImportStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.info).Count().ToString()</span> &nbsp; Info</a></li>
        <li><a href="#warnings" data-toggle="tab"><span class="badge text-warning">@Model.Items.Where(x => x.ImportStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.warning).Count().ToString()</span> &nbsp; Warnings</a></li>
        <li><a href="#danger" data-toggle="tab"><span class="badge text-danger">@Model.Items.Where(x => x.ImportStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.danger).Count().ToString()</span> &nbsp; Errors</a></li>
    </ul>

}
<div class="tab-content">
    <div class="tab-pane fade in active" id="success">
        @if (Model.ListFor == LCPS.v2015.v001.NwUsers.Importing.ImportFile.ListQualifier.Read)
        {
            @Html.Partial("_ImportCandidateListPartial", Model.Items.Where(x => x.ReadStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.@default))
        }
        else
        {
            @Html.Partial("_ImportResultListPartial", Model.Items.Where(x => x.ImportStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.@default))
        }


    </div>
    <div class="tab-pane fade" id="warnings">
        @if (Model.ListFor == LCPS.v2015.v001.NwUsers.Importing.ImportFile.ListQualifier.Read)
        {
            @Html.Partial("_ImportCandidateListPartial", Model.Items.Where(x => x.ReadStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.warning))
        }
        else
        {
            @Html.Partial("_ImportResultListPartial", Model.Items.Where(x => x.ImportStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.warning))
        }
    </div>
    <div class="tab-pane fade" id="danger">
        @if (Model.ListFor == LCPS.v2015.v001.NwUsers.Importing.ImportFile.ListQualifier.Read)
        {
            @Html.Partial("_ImportCandidateListPartial", Model.Items.Where(x => x.ReadStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.danger).ToList())
        }
        else
        {
            @Html.Partial("_ImportResultListPartial", Model.Items.Where(x => x.ImportStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.danger).ToList())
        }
    </div>
    <div class="tab-pane fade" id="info">
        @if (Model.ListFor == LCPS.v2015.v001.NwUsers.Importing.ImportFile.ListQualifier.Read)
        {
            @Html.Partial("_ImportCandidateListPartial", Model.Items.Where(x => x.ReadStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.info).ToList())
        }
        else
        {
            @Html.Partial("_ImportResultListPartial", Model.Items.Where(x => x.ImportStatus == LCPS.v2015.v001.NwUsers.Importing.ImportItem.LcpsImportStatus.info).ToList())
        }
    </div>
</div>


