@using LCPS.v2015.v001.WebUI.Areas.LcpsLdap.Models;

@model OUTemplateViewModel

@{
    ViewBag.Title = "Staff Membership";
    Layout = "~/Areas/LcpsLdap/Views/Shared/_Layout.cshtml";
}

<style>
    .tgl-btn {
        cursor: pointer;
    }
</style>

<script>
    $(function () {
        $('.tgl-btn').click(function () {
            var id = $(this).attr('id');
            var cn = id.replace('toggle-', '');
            var dn = cn + '-dtl';
            var ico = cn + '-ico';

            $('#' + dn).toggle('slow', function () {
                $('#' + ico).toggleClass('fa-angle-double-up fa-angle-double-down');
            });
        });
    })
</script>

<div class="container">
    <a href="@Url.Action("Index", "LdapOuTemplate", new {area = "LcpsLdap" })"><i class="fa fa-angle-double-left"> Back</i> </a>
</div>

<div class="well">
    <h2>@Model.CurrentTemplate.TemplateName</h2>
    <p>
        <small>
            @Model.CurrentTemplate.Description
        </small>
    </p>
    <p><small> <i class="fa fa-cube"></i>  OU: @Model.CurrentTemplate.OUName</small></p>
</div>
<div class="row">
    <small>
        <a id="toggle-fltr" class="tgl-btn"><span id="fltr-ico" class="fa fa-angle-double-up"></span>Filter Clause</a>
    </small>
    <div id="fltr-dtl">
        <h3>Staff Filter Clause</h3>
        @Html.Partial("~/Areas/HumanResources/Views/Shared/_staffFilterClause.cshtml", Model.GetStaffFilterClause())
    </div>
</div>
<div class="row">
    <div id="lst-dtl">
        @Html.Partial("~/Areas/HumanResources/Views/Shared/_StaffFilterClauseList.cshtml", Model.GetStaffFilter())
    </div>
</div>
