@using LCPS.v2015.v001.NwUsers.Infrastructure
@using LCPS.v2015.v001.WebUI.Areas.HumanResources.Models;
@using PagedList;
@using PagedList.Mvc;


@model PagedList<LCPS.v2015.v001.NwUsers.HumanResources.Staff.HRJobTitle>

@{
    ViewBag.Title = "Job Titles";

    ViewBag.Page = Request.QueryString["page"];
        
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}

<h2>Job Titles</h2>


<div class="navbar navbar">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("Create New", "Create")
            </li>
            <li>
                <a href="@Url.Action("ImportFile", "HRJobTitles", new { area = "HumanResources" } )">Import </a>
            </li>
        </ul>
    </div>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().JobTitleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().JobTitleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobTitleKey, page = Request.QueryString["page"] }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobTitleKey }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JobTitleKey })
            </td>
        </tr>
    }

</table>
