@using LCPS.v2015.v001.NwUsers.HumanResources;
@using LCPS.v2015.v001.NwUsers.HumanResources.Staff;

@using LCPS.v2015.v001.NwUsers.HumanResources.DynamicGroups;

@model HRStaffPositionFilter 

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>

@{
    ViewBag.StaffFilter = Model;
}

<script>
    $(function () {
        $('.cb').bootstrapToggle({
            on: 'Filter On',
            off: 'Filter Off',
            onstyle: 'success',
            offstyle: 'warning',
            size: 'mini'
        });
    })

    
    $(function () {
        $('.cb').change(function () {
           
            cbId = $(this).prop('id');

            f = cbId.replace('Filter', '');

            eleId = f + 'Value';

            ele = document.getElementById(eleId);

            ele.disabled = (! $(this).prop('checked'));

        });
    })
    

</script>




<div class="container">
    @using (Html.BeginForm("Filter", "HRStaffPositions", new { area = "HumanResources" }, FormMethod.Post))
    {
        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-2">
                <p><strong>Building</strong> @Html.CheckBoxFor(model => model.FilterBuilding, new { @class = "cb" })</p>
                @if(Model.FilterBuilding)
                {
                    @Html.DropDownListFor(model => model.BuildingValue, HRBuilding.GetBuildingList(), new { @class = "form-control input-sm fv" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.BuildingValue, HRBuilding.GetBuildingList(), new { @class = "form-control input-sm fv", @disabled = "disabled" })
                }
            </div>
            <div class="col-md-2">
                <p><strong>Type</strong> @Html.CheckBoxFor(model => model.FilterEmployeeType, new { @class = "cb" })</p>
                @if(Model.FilterEmployeeType)
                {
                    @Html.DropDownListFor(model => model.EmployeeTypeValue, HREmployeeType.GetEmployeeTypeList(), new { @class = "form-control input-sm fv" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.EmployeeTypeValue, HREmployeeType.GetEmployeeTypeList(), new { @class = "form-control input-sm fv", @disabled = "disabled" })
                }
            </div>
            <div class="col-md-2">
                <p><strong>Title</strong> @Html.CheckBoxFor(model => model.FilterJobTitle, new { @class = "cb" })</p>
                @if(Model.FilterJobTitle)
                {
                    @Html.DropDownListFor(model => model.JobTitleValue, HRJobTitle.GetJobTitleList(), new { @class = "form-control input-sm fv"})
                }
                else
                {
                    @Html.DropDownListFor(model => model.JobTitleValue, HRJobTitle.GetJobTitleList(), new { @class = "form-control input-sm fv", @disabled = "disabled"})
                }
            </div>
            <div class="col-md-2">
                <p><strong>Status</strong> @Html.CheckBoxFor(model => model.FilterStatus, new { @class = "cb" })</p>
                @if(Model.FilterStatus)
                {
                    @Html.EnumDropDownListFor(model => model.StatusValue, new { @class = "form-control input-sm fv"})
                }
                else
                {
                    @Html.EnumDropDownListFor(model => model.StatusValue, new { @class = "form-control input-sm fv", @disabled = "disabled" })
                }
            </div>
            <div class="col-md-2">
                <p><strong>Name</strong> @Html.CheckBoxFor(model => model.FilterName, new { @class = "cb" })</p>
                @if(Model.FilterName)
                {
                    @Html.TextBoxFor(model => model.NameValue, Request.QueryString["n"], new { @class = "form-control input-sm fv" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.NameValue, Request.QueryString["n"], new { @class = "form-control input-sm fv", @disabled = "disabled" })
                }
            </div>
            <div class="col-md-2">
                &nbsp;<br />
                <input type="submit" value="Search" class="btn btn-sm btn-success" />
            </div>
        </div>

    }
</div>

