@model IEnumerable<LCPS.v2015.v001.NwUsers.HumanResources.HRBuilding>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}

<h2>Buildings</h2>

<div class="navbar">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Create", "HRBuildings", new { area = "HumanResources" })"><i class="fa fa-plus"></i> Create New</a>
            </li>
            <li>
                <a href="@Url.Action("ImportFile", "HRBuildings", new { area = "HumanResources" } )"><i class="fa fa-upload"></i>  Import</a>
            </li>
        </ul>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuildingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuildingKey }) |
            <a href="@Url.Action("Index", "HRRooms", new {area ="HumanResources", id=item.BuildingKey })">Rooms</a> @Html.Raw("|")
            @Html.ActionLink("Delete", "Delete", new { id=item.BuildingKey })
        </td>
    </tr>
}

</table>
