@model IEnumerable<LCPS.v2015.v001.NwUsers.HumanResources.Staff.HREmployeeType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}

<h2>Employee Types</h2>

<div class="navbar">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Create", "HREmployeeTypes", new { area = "HumanResources" })"><i class="fa fa-plus"></i> Create New</a>
            </li>
            <li>
                <a href="@Url.Action("ImportFile", "HREmployeeTypes", new { area = "HumanResources" } )"><i class="fa fa-upload"></i>  Import</a>
            </li>
        </ul>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeTypeLinkId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeTypeLinkId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeTypeLinkId })
        </td>
    </tr>
}

</table>
