@using LCPS.v2015.v001.WebUI.Areas.LcpsLdap.Models;

@model GroupTemplateViewModel

@{
    ViewBag.Title = "Staff Membership";
    Layout = "~/Areas/LcpsLdap/Views/Shared/_Layout.cshtml";
}

<style>
    .tgl-btn {
        cursor: pointer;
    }
</style>

<script>
    $(function () {
        $('.tgl-btn').click(function () {
            var id = $(this).attr('id');
            var cn = id.replace('toggle-', '');
            var dn = cn + '-dtl';
            var ico = cn + '-ico';

            $('#' + dn).toggle('slow', function () {
                $('#' + ico).toggleClass('fa-angle-double-up fa-angle-double-down');
            });
        });
    })
</script>

<h3>Staff Filter</h3>
<div class="well">
    <h2>@Model.CurrentTemplate.TemplateName</h2>
    <p>
        <small>
            @Model.CurrentTemplate.Description
        </small>
    </p>
    <p><small> <i class="fa fa-cube"></i>  Group: @Model.CurrentTemplate.GroupName</small></p>
    <div class="container">
        <a href="@Url.Action("Index", "LdapGroupTemplate", new {area = "LcpsLdap" })"><i class="fa fa-angle-double-left"></i> Back</a>
    </div>
</div>
<div class="row">
    <small>
        <a id="toggle-fltr" class="tgl-btn"><span id="fltr-ico" class="fa fa-angle-double-up"></span>Filter Clause</a>
    </small>
    <div id="fltr-dtl" class="well">
        <h3>Staff Filter Clause</h3>
        @Html.Partial("~/Areas/HumanResources/Views/Shared/_staffFilterClause.cshtml", Model.GetStaffFilterClause(Model.CurrentTemplate.GroupId))
    </div>
</div>
<div class="row">
    <small>
        <a id="toggle-lst" class="tgl-btn"><span id="lst-ico" class="fa fa-angle-double-up"></span>Clause List</a>
    </small>
    <div id="lst-dtl" class="well">
        @Html.Partial("~/Areas/HumanResources/Views/Shared/_StaffFilterClauseList.cshtml", Model.GetStaffFilter())
    </div>
</div>

<div class="row">
    <small>
        <a id="toggle-stf" class="tgl-btn"><span id="stf-ico" class="fa fa-angle-double-up"></span>Staff List</a>
    </small>
    <div id="stf-dtl" class="well">
        @Html.Partial("~/Areas/HumanResources/Views/Shared/_staffList.cshtml", Model.GetStaffMembers(Model.CurrentTemplate.GroupId, Convert.ToInt32(Request.QueryString["page"])))
    </div>
</div>
