@using LCPS.v2015.v001.WebUI.Infrastructure;
@using LCPS.v2015.v001.WebUI.Models;
@using LCPS.v2015.v001.WebUI.Areas.HumanResources.Controllers;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@LcpsDbContext.Application.AppName</h1>
    <p class="lead">@LcpsDbContext.Application.MissionStatement</p>
</div>

<div style="text-align:center;">

    @if (LcpsMvcControllerACLManager.GetUserCanAccess(User, "HumanResources"))
    {
        @Html.Partial("_HugeButtonPartial", new LcpsMvcHugeButtonModel()
{
    Area = "HumanResources",
    Controller = "HRStaff",
    Action = "Index",
    CssClass = "fa fa-apple",
    Text = "Faculty / Staff"
})

    }

    @if (LcpsMvcControllerACLManager.GetUserCanAccess(User, "Students"))
    {
        @Html.Partial("_HugeButtonPartial", new LcpsMvcHugeButtonModel()
{
    Area = "Students",
    Controller = "Student",
    Action = "Index",
    CssClass = "fa fa-graduation-cap",
    Text = "Students"
})

    }


    @if (LcpsMvcControllerACLManager.GetUserCanAccess(User, "LcpsLdap"))
{
    @Html.Partial("_HugeButtonPartial", new LcpsMvcHugeButtonModel()
{
    Area = "LcpsLdap",
    Controller = "LdapDashboard",
    Action = "Index",
    CssClass = "fa fa-sitemap",
    Text = "LDAP Network"
})

}

    @if (LcpsMvcControllerACLManager.GetUserCanAccess(User, "Computers"))
    {
        @Html.Partial("_HugeButtonPartial", new LcpsMvcHugeButtonModel()
{
    Area = "Computers",
    Controller = "LDAPComputer",
    Action = "Index",
    CssClass = "fa fa-desktop",
    Text = "Computers"
})

    }




    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_HugeButtonPartial", new LcpsMvcHugeButtonModel()
{
    Area = "My",
    Controller = "Profile",
    Action = "Index",
    CssClass = "fa fa-bell-o",
    Text = "My LCPS"
})

    }
</div>

<div style="text-align:center;">
    @if (User.IsInRole("APP-Admins") | User.IsInRole("HR-Managers"))
    {
        @Html.Partial("_HugeButtonPartial", new LcpsMvcHugeButtonModel()
{
    Area = "LcpsEmail",
    Controller = "LcpsEmail",
    Action = "Import",
    CssClass = "fa fa-envelope",
    Text = "LCPS Email"
})

    }
</div>