@using LCPS.v2015.v001.NwUsers.Filters;
@using LCPS.v2015.v001.WebUI.Areas.My.Models;
@using LCPS.v2015.v001.NwUsers.HumanResources.Staff;
@using PagedList;
@using PagedList.Mvc;

@model MemberFilterModel


@{
    ViewBag.Title = "EditStaffFilter";
    Layout = "~/Areas/My/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#demo").on("hide.bs.collapse", function () {
            $("#toggle-button").html('<i class="fa fa-angle-double-down"></i>');
        });
        $("#demo").on("show.bs.collapse", function () {
            $("#toggle-button").html('<i class="fa fa-angle-double-up"></i>');
        });
    });
</script>

<h2>Edit Staff Filter</h2>
<div style="margin: 14px 0;">
    <a href="@Url.Action("Index", "Contacts", new { area = "MY", c = MemberFilterClass.Staff })"><i class="fa fa-list-alt"></i> Index</a> &nbsp; &nbsp; <a href="@Url.Action("StaffList", "Contacts", new { area = "My", id=Model.FilterId })" class="cmd"><i class="fa fa-eye"></i> &nbsp; Preview</a>
</div>


<div class="container">
    <h3>
        @Model.Title
        <a id="toggle-button" href="#" data-toggle="collapse" data-target="#demo"> <i class="fa fa-angle-double-down"></i></a>
    </h3>
    <div id="demo" class="collapse">
        @Html.Partial("_EditFilter", Model)
    </div>
</div>
<hr />
<div class="container">

    @Html.Partial("_StaffFilter",
                    new StaffFilterClauseModel() { FilterId = @Model.FilterId })

    @Html.Partial("_StaffClauseList", Model.GetClauses())
</div>