@using LCPS.v2015.v001.NwUsers.Filters;
@model IEnumerable<LCPS.v2015.v001.NwUsers.Filters.MemberFilter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/My/Views/Shared/_Layout.cshtml";
}


<style>
    .cmd {
        margin-right: 12px;
    }
</style>

<h2>Contacts</h2>


<h4>Filters</h4>
<p>
    @if (Request.QueryString["c"] == null)
    {
        <div class="dropdown">
            <button class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                Create Filter
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("CreateFilter", "Contacts", new { area = "my", c = MemberFilterClass.Student })">Student Filter</a></li>
                <li><a href="@Url.Action("CreateFilter", "Contacts", new { area = "my", c = MemberFilterClass.Staff })">Staff Filter</a></li>
            </ul>
        </div>
    }
    else
    {
        <a href="@Url.Action("CreateFilter", "Contacts", new { area = "my", c = Request.QueryString["c"] })" class="btn btn-sm btn-info dropdown-toggle">Create Filter</a>
    }
</p>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilterClass)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilterClass)
            </td>
            <td>
                <a href="@Url.Action("Preview", "Contacts", new { area = "My", id=item.FilterId })" cla class="cmd"><i class="fa fa-eye"></i></a>
                <a href="@Url.Action("EditFilter", "Contacts", new { area = "My", id=item.FilterId })" class="cmd"><i class="fa fa-pencil"></i></a>
                <a href="@Url.Action("DeleteFilter", "Contacts", new { area = "My", id=item.FilterId })" class= class="cmd" onclick="return confirm('Are you sure you want to delete this filter?')"><i class="fa fa-remove"></i></a>
            </td>
        </tr>
    }

</table>
