@using LCPS.v2015.v001.NwUsers.Students;
@using LCPS.v2015.v001.NwUsers.Filters;
@using LCPS.v2015.v001.NwUsers.HumanResources.Staff;
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "StaffList";
    Layout = "~/Areas/My/Views/Shared/_Layout.cshtml";
    ViewBag.Page = Request.QueryString["page"];
}

@model PagedList<StudentRecord>

<h2>@ViewBag.FilterTitle</h2>

<div style="margin: 14px 0;">
    <a href="@Url.Action("Index", "Contacts", new { area = "MY", c = MemberFilterClass.Student })"><i class="fa fa-list-alt"></i> Index</a> &nbsp; &nbsp; <a href="@Url.Action("EditStudentFilter", "Contacts", new { area = "MY", id = ViewBag.FilterId })"><i class="fa fa fa-pencil-square-o"></i> Edit</a>
</div>

<p>Total: @ViewBag.Total</p>
@Html.Partial("~/Areas/Students/Views/Student/_studentList.cshtml", Model)
