@model LCPS.v2015.v001.NwUsers.HumanResources.Staff.HREmployeeType

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee Type</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmployeeTypeId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeTypeName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmployeeTypeName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeTypeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Category, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
