@using LCPS.v2015.v001.NwUsers.HumanResources.Staff;
@using LCPS.v2015.v001.WebUI.Areas.HumanResources.Models;

@model IEnumerable<HREmployeeType>

@{
    ViewBag.Title = "Employee Types";
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}

<h2>Employee Types</h2>

<p>
    @Html.ActionLink("Create New", "Create") | <a href="@Url.Action("ImportEmployeeTypes", "HRImport", new { area = "HumanResources" }, null)">Import (TSV)</a> | <a href="@Url.Action("ExportEmployeeTypes", "HRImport", new { area = "HumanResources" })">Export (XML)</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeTypeLinkId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EmployeeTypeLinkId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeTypeLinkId })
        </td>
    </tr>
}

</table>
